@font-face {
    font-family: 'MemomentKkukkukk';
    src: url('/MemomentKkukkukk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body,
    input,
    textarea,
    button,
    select {
        font-family: 'MemomentKkukkukk', sans-serif;
    }
}

@layer components {
    .bg-manuscript {
        background-color: #f9f5eb;
        background-size: 40px 40px;
        background-image:
            linear-gradient(to right, #d4d4d4 1px, transparent 1px),
            linear-gradient(to bottom, #d4d4d4 1px, transparent 1px);
        border: 1px solid #d4d4d4;
    }

    .dark .bg-manuscript {
        background-color: #1a2632;
        background-image:
            linear-gradient(to right, #334155 1px, transparent 1px),
            linear-gradient(to bottom, #334155 1px, transparent 1px);
        border: 1px solid #334155;
    }

    .paper-shadow {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}