@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-dot-grid {
        background-size: 24px 24px;
        background-image: radial-gradient(circle, #cbd5e1 1.5px, transparent 1.5px);
    }

    .dark .bg-dot-grid {
        background-image: radial-gradient(circle, #334155 1.5px, transparent 1.5px);
    }

    .paper-shadow {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}